.hero, .section-screen{
	background-color:black;
	color: lime;
    text-align: center;
}
.section-screen {
    /* 100 vh si usa per prendere tutto lo spazio diponibile, e lo uso per ogni sezione*/
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}
.hero .section-title{
    /* il testo si adatta alla larghezza */
font-size: 20vw;
}